%div.navbar.navbar-default.navbar-fixed-top
  %div.navbar-brand
    = link_to 'Lunch',    root_path
  %collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li= link_to 'Home',    root_path
      %li= link_to 'Help',    pages_help_path
      -if user_signed_in?
        %li= link_to 'Menus',    pages_menu_path
        %li= link_to 'Profile', user_path(current_user)
        -if current_user.admin?
          %li= link_to 'Add meals to Menu',   items_show_path
          %li= link_to 'Users', users_path
          %li= link_to 'Orders', pages_order_path
          %li= link_to 'Today order', pages_today_path
        %li= link_to 'Sign out', destroy_user_session_path, method: :delete
      -else
        %li= link_to 'Sign in', new_user_session_path